/* odoo_leaflet_map_widget/static/src/css/geo_leaflet_map.css */

.o_leaflet_map_widget {
    height: 600px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
